test/
simulation/
manuscript/
TODO.md
*.tar.gz
*.Rcheck/
*.o
*.so
*.*~
*~

# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files/directories
*.Rproj
.Rproj.user
.rstudio/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

run-stan.sh
.DS_Store
kitematic/
